@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "poppins", sans-serif;
}

.counter {
  background: #d0c8c1;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  justify-content: center;
}

.canopy {
  font-weight: bold;
}

.my-custom-ul-name {
  padding-inline-start: 10px;
  list-style-type: none;
  color: white;

  /* margin-left: 20px; */
}

.html {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  padding-top: 4px;
  margin-right: 4px;
  background-color: hsl(234, 68%, 81%);
  text-align: center;
}

.ruby {
  height: 30px;
  width: 120px;
  border-radius: 10px;
  padding-top: 4px;
  margin-right: 4px;
  background-color: hsl(234, 68%, 81%);
  text-align: center;
}

.css {
  height: 30px;
  width: 40px;
  border-radius: 10px;
  padding-top: 4px;
  background-color: hsl(234, 68%, 81%);
  text-align: center;
}

.javascript {
  height: 30px;
  width: 90px;
  border-radius: 10px;
  padding-top: 4px;
  background-color: hsl(234, 68%, 81%);
  text-align: center;
}

.contact {
  background-color: #0015d6;
  border-top-left-radius: 100px;
  color: white;
}

.about .primary-txt {
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    color: #172b4d;
}

.about .detail-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
}
