@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "poppins", sans-serif;
  background-color: #e1e1e1;
}

.main-section {
  background: url("images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 200px;
  border-bottom-left-radius: 100px;
  background-color: white;
}

.counter {
  background: #d0c8c1;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  justify-content: center;
}

.canopy {
  font-weight: bold;
}

.my-custom-ul-name {
  padding-inline-start: 10px;
  list-style-type: none;
  color: white;
}

.contact {
  background-color: #0015d6;
  border-top-left-radius: 100px;
  color: white;
}

.about {
  border-top-right-radius: 100px;
  background-color: white;
  height: 800px;
  padding:120px 100px;
}

.about .primary-txt {
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    color: #172b4d;
}

.about .detail-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
}
